# Ignore environment files
*.env
*.env.*

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Node modules
node_modules/

# Node modules
Phase 3/frontend/node_modules/

# Ignore other OS/system files
.DS_Store
Thumbs.db
